<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <!-- 优化翻页查询的插件.mybatis默认的翻页功能效率低下 -->
    <plugins>
        <plugin
                interceptor="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
            <property name="dialectClass"
                      value="com.github.miemiedev.mybatis.paginator.dialect.SQLServer2005Dialect"/>
        </plugin>
    </plugins>

</configuration>