<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss}|%t|%p|%c{0}.%M.%L|%m%n
			</pattern>
			<charset>utf-8</charset>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${catalina.base}/logs/menjin/logFile.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${catalina.base}/logs/menjin/hislog.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>15</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss}|%t|%p|%c{0}.%M.%L|%m%n</pattern>
		</encoder>
	</appender>

	<logger name="com.alibaba.druid" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- spring && spring plugin -->
	<logger name="org.springframework" additivity="false">
		<level value="info" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.springframework.web.context.support.XmlWebApplicationContext" additivity="false">
		<level value="debug" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>

	<!-- mybatis -->
	<logger name="org.apache.ibatis" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- mybatis plugin for spring integration -->
	<logger name="org.mybatis.spring" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- mybatis plugin for pagination query -->
	<logger name="com.github.miemiedev" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<!-- org.apache.http -->
	<logger name="org.apache" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="org.nutz" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="com.juanpi.bis.servicemonitor.mapper" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>
	<logger name="commons.tool.utils" additivity="false">
		<level value="error" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="file" />
		<appender-ref ref="stdout" />
	</root>
</configuration>

